/*===Common-Css=====*/
/* webfonts */

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: 'Inter-light';
	src: url('../fonts/Inter-Light.ttf');
}

@font-face {
	font-family: 'Inter-bold';
	src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: 'Inter-black';
	src: url('../fonts/Inter-Black.ttf');
}

@font-face {
	font-family: 'Inter-Medium';
	src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url('../fonts/Inter-SemiBold.ttf');
}
/*===Lato===*/
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato-light';
	src: url('../fonts/Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato-Medium';
	src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
	font-family: 'Lato-bold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato-black';
	src: url('../fonts/Lato-Black.ttf');
}
/*===Segoe UI===*/
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/Segoe UI.ttf');
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('../fonts/Segoe UI Bold.ttf');
}
@font-face {
	font-family: 'Segoe UI semibold';
	src: url('../fonts/segoe UI Semibold.ttf');
}

body {
    background: #F2F4F7;
    overflow-x: hidden;
}
.container {
    max-width: 1618px;
    padding: 0px 15px;
}
main {
    position: relative;
    min-height: calc(100vh - 64px);
    padding-bottom: 40px;
}

/*========HEADER CSS START HERE=======*/
header {
    background-color: #113C5B;
   height: 64px;
}
button.navbar-toggler:focus {
    outline: none;
}
.toggler-btn {
    background: transparent;
    border: 0px;
}
a.navbar-brand {
    padding-left: 46px;
    padding-right: 10px;
}
li.nav-item.active > a{
    background: #105F7D;
    border-radius: 6px;
}
ul.navbar-nav {
    grid-gap:18px;
}
nav.navbar {
  padding: 0px 30px;
    min-height: 64px;
    height: 100%;
}
button.toggler-btn {
    padding-left: 2px;
}
ul.navbar-nav  li a {
    font-family: 'Lato-Medium';
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF !important;
    padding: 8px;
}
li.nav-item.active a.nav-link {
    font-family: 'Lato-bold';
}

.form-control {
    font-family: 'Inter';
}
.search-input {
    padding-left: 2.375rem;
    font-family: 'Lato';
}
.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    top: 0px;
    border: 0px;
}

.form-inline  input {
    background: #F0F9FF;
    border-radius: 6px;
}
.collapse .form-control-feedback {
    top: -5px;
}
ul.right-icons {
    margin-bottom: 0px;
    align-items: center;
    grid-gap: 20px;
    padding-left: 16px;
}
ul.right-icons li {
    height: 32px;
    background: #F0F9FF;
    border-radius: 6px;
    width: 32px;
    text-align: center;
    list-style: none;
    line-height: 27px;
}
ul.navbar-nav {
    width: 55%;
}
li.user-img img {
    width: 100%;
}
ul.right-icons li.user-img {
    width: 36px;
    height: 36px;
    background: transparent;
    position: relative;
}
form.form-inline {
    width: 100%;
    max-width: 165px;
    position: relative;
}
form.form-inline input {
    width: 100% !important;
    max-width: 214px;
    height: 35px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #80808F;
}

.right-icons span.numbers {
    font-family: 'Lato-bold';
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    background-color: #F04438;
    border-radius: 12px;
    min-width: 20px;
    display: inline-block;
    height: 19px;
    position: absolute;
}


/* dropdowm css start */
.dropdown-menu {
    padding: 0;
    background: transparent;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    margin: 0;
    top: 40px;
    border: none;
    overflow: hidden;
}
li.nav-item.dropdown.custom-dropdown.show > a:before {
    content: ' ';
    position: absolute;
    left: 16px;
    bottom: -9px;
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    z-index: 2;
}
a.dropdown-item.active,a.dropdown-item:hover {
    background: #235f7e !important;
    color: #fff !important;
}
.custom-dropdown .dropdown-item {
    font-family: "Segoe UI";
    font-size: 15px;
    line-height: 20px;
    color: rgba(9, 30, 66, 0.87)!important;
    background-color: #fff;
    border-bottom: 1px solid rgba(9, 30, 60, 0.12);
    padding: 10px 15px;
    border-radius: 0px !important;
}
.custom-dropdown .dropdown-item:last-child {
    border: 0;
}
/* dropdown css end */

/* profile sidebar css start */
.profile-side-drawer {
    max-width: 470px;
    overflow: auto;
}
.profile-side-drawer.open {
    transform: translateX(0);
}
.profile-sidebar-header {
    position: relative;
    padding: 21px 34px 0;
    background: #EEF0F8;
    display: flex;
    height: 135px;
    margin-bottom: 60px;
}
.profile-sidebar-header::after{
    position: absolute;
    content: "";
    width: 220px;
    height: 135px;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: url(../images/profile-sidebar-bg.svg)
}
.side-drawer-open {
    overflow: hidden;
}
.profile-img {
    width: 76px;
    height: 76px;
    border: 3px solid #fff;
    overflow: hidden;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img.img-rounded {
    border-radius: 100%;
}
.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-detail {
    position: relative;
    z-index: 1;
}
.person-name{
    font-family: "inter-medium";
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    margin: 3px;
}
.person-email {
    font-family: "inter";
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin: 0;
}
.open-text, .error-text, .user-text {
    min-width: 44px;
    width: auto;
    display: inline-block;
    padding: 0 10px;
}
.available-status {
    display: inline-block;
    width: 10px;
    height: 10px; 
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
}
.available-status.online {
    background: #12B76A;   
}
.profile-detail .button-group{
    margin-top: 15px;
}
.profile-detail .white-btn,
.profile-detail .dark-blue-btn {
    display: inline-block;
    border-radius: 8px;
}
.profile-detail  .white-btn{
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-right: 15px;
}
.blue-btn {
    line-height: 21px;
}
.profile-sidebar-body {
    padding: 0 30px
}
.signin-acoount-title {
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    padding-bottom: 15px;
    border-bottom: 1px solid #E4E7EC;
}
.signin-acoount-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.signin-acoount-list li {
    padding: 20px 0;
    border-bottom: 1px solid #E4E7EC;
}
.signin-acoount-list li:last-child {
    border-bottom: 0;
}
.signin-acoount-list .signin-acoount-item {
    display: flex;
    margin-bottom: 10px;
}
.profile-img.small-profile-img {
    width: 36px;
    height: 36px;
    box-shadow: none;
    margin-right: 12px;
    border: 0;
    background-color: #FFF6ED;
}
.signin-acoount-item .person-name,
.signin-acoount-item .person-email{
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
.last-login-status {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.last-login-status p {
    font-family: "Inter-medium";
    font-size: 12px;
    line-height: 18px;
    color: #98A2B3;
    margin-bottom: 0;
}
.last-login-status a {
    font-family: "Inter-medium";
    font-size: 14px;
    line-height: 20px;
    color: #026AA2;
}
.name-initial{
    text-transform: uppercase;
    color: #EC4A0A;
}
.error-text {
    width: auto;
    padding: 0 10px;
}
/*========= profile sidebar css end here =============*/
/*========HEADER CSS END HERE=======*/
/*========FILTER CSS Start HERE=======*/
.list-filters ul li {
    list-style: none;
    padding-right: 12px;
}
.list-filters ul li:last-child {
    padding-right: 0px;
}
.list-filters li h6 {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    color: #80808F;
    margin-bottom: 0px;
}
.list-filters li button {
    background: #e6e9ee;
    border-radius: 16px;
    width: 100%;
    min-width: 68px;
    min-height: 22px;
    border: 0px;
    font-family: 'Inter-Medium';
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #344054;
    cursor: pointer;
    /* box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06); */
}
.filters-btn button {
    background: #fff  !important;
    height: 40px;
    min-width: 99px !important;
    border-radius: 8px !important;
    font-size: 14px;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}
.list-filters li button:focus {
    outline: none;
}
.list-filters li button.filter-text img {
    margin-left: 5px;
}

/*======= filter sidebar css start =======*/
.filter-sidebar {
    position: fixed;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 652px;
    background: #FFFFFF;
    top: 0;
    z-index: 999;
    transform: translateX(100%);
    transition: 1s ease all;
}
.filter-sidebar.open {
    transform: translateX(0);
}
.filter-open:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3754706e;
    top: 0;
    left: 0;
    z-index: 99;
}
.filter-sidebar-title {
    font-family: "Inter-Medium";
    font-size: 20px;
    line-height: 30px;
    color: #344054;
    margin-bottom: 15px;
    padding: 21px 42px 0;
}
.filter-listing {
    padding: 0 30px 0 42px;
    height: calc(100% - 140px);
    overflow: auto;
    margin-right: 21px;
}
.filter-listing-item{
    margin-bottom: 40px;
}
.input-group {
    min-height: 44px;
    margin-bottom: 10px;
}
.input-label {
    font-family: "Inter-Medium";
    font-size: 14px;
    line-height: 20px;
    color: #98A2B3;
}
.input-group-text,
.input-group input  {
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    background-color: #fff;
    padding: 9px 14px;
}
.form-control:focus {
    box-shadow: none;
}
.reset-btn {
    background: #F0F9FF;
    border: 1px solid #F0F9FF;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter-Medium';
    font-size: 14px;
    color: #026AA2;
    padding: 6px 14px;
}
.btn svg {
    margin-left: 5px;
    vertical-align: middle;
}
.label-flex {
    margin-bottom: 15px;
}
.label-flex label {
    margin: 0 15px 0 0;
}
a:hover {
    text-decoration: none;
}
.filter-search-results {
    margin-top: 16px;
}
.purchase-group-result {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.purchase-group-result li {
    font-family: "inter-medium";
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    background: #F2F4F7;
    border-radius: 16px;
    padding: 4px 12px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.purchase-group-result li.selected {
    color: #026AA2;
    background-color: #F0F9FF;
}
.selected-icon {
    display: none;
    margin-left: 3px;
}
.purchase-group-result li.selected .selected-icon {
    display: inline;
}
.blue-btn {
    background: #0086C9;
    border: 1px solid #0086C9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: "inter-medium";
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 8px 14px;
}
.custom-checkbox .custom-control-label {
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #F0F9FF;
    border-color: #0086C9;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.5 6.5L1 4' stroke='%230086C9' stroke-width='1.6666' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.filter-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #F4F5F7;
    padding: 18px 22px;
}
.filter-footer button {
    margin: 0 5px;
}

button {
    cursor: pointer;
}
.white-btn {
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F5F7 100%);
    border: 1px solid #CFD7DF;
    border-radius: 4px;
    font-family: "Segoe UI semibold";
    font-size: 14px;
    padding: 6px 12px;
    color: #12344D;
}
.dark-blue-btn {
    background: #065986;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    border-radius: 4px;
    font-family: "Segoe UI semibold";
    font-size: 14px;
    padding: 6px 12px;
    color: #FFFFFF; 
    border: 1px solid #065986;
}
.filter-cross {
    position: absolute;
    left: -40px;
    top: 0;
    background-color: #E5F1FD;
    border: 1px solid rgba(9, 30, 60, 0.12);
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 34px;
    opacity: 0;
    cursor: pointer;
}
.filter-sidebar.open .filter-cross {
    opacity: 1;
    display: flex;
}
/* scrollbar width */
.filter-listing::-webkit-scrollbar, .ticket-process::-webkit-scrollbar, .detail-tabs .nav-tabs::-webkit-scrollbar, .order-list-inner ul.tabs::-webkit-scrollbar, .rfx-table ul.tabs::-webkit-scrollbar {
    width: 4px;
}
.detail-tabs .nav-tabs::-webkit-scrollbar{
    height: 3px;
}
/* scrollbar Track */
.filter-listing::-webkit-scrollbar-track, .ticket-process::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 10px;
}
/* scrollbar Handle */
.filter-listing::-webkit-scrollbar-thumb, .ticket-process::-webkit-scrollbar-thumb, .detail-tabs .nav-tabs::-webkit-scrollbar-thumb, .order-list-inner ul.tabs::-webkit-scrollbar-thumb, .rfx-table ul.tabs::-webkit-scrollbar-thumb {
    background: #F4F5F7;
    border-radius: 10px;
}
 .detail-tabs .nav-tabs::-webkit-scrollbar-track, .order-list-inner ul.tabs::-webkit-scrollbar-track, .rfx-table ul.tabs::-webkit-scrollbar-track, .filter-listing ul.nav-tabs::-webkit-scrollbar-track  {
    background:  #F4F5F7;
    border-radius: 10px;
}
 .order-list-inner ul.tabs::-webkit-scrollbar, .rfx-table ul.tabs::-webkit-scrollbar, .filter-listing ul.nav-tabs::-webkit-scrollbar   {
    height: 0px;
}
/*========FILTER CSS END HERE=======*/
.mobile-arrow {
    display: none;
}
/*===FOOTER CSS START HERE===*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9;
}
.copyright-text {
    background: #F9FAFB;
    box-shadow: 0px -1px 2px rgb(0 0 0 / 14%);
    padding: 0px 27px;
}
.copyright-text-right ul {
    padding-left: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.copyright-text-right ul li img {
    margin-right: 5px;
}
.copyright-text-right ul li {
    list-style: none;
    border: 1.2px solid #D0D5DD;
    border-collapse: collapse;
    text-align: center;
    padding-right: 20px;
    list-style: none;
    padding: 4px 10px;
    border-top: 0px;
    border-bottom: 0px;
    border-right:0px;
}
.copyright-text-right ul li:last-child {
    border-right: 1.2px solid #D0D5DD;
}
.copyright-text-left p {
    margin-bottom: 0px;
    font-family: 'Lato-medium';
    font-size: 12px;
    line-height: 14px;
    color: rgba(9, 30, 66, 0.54);
    padding-right: 15px;
}
.copyright-text-left p a {
    color: #026AA2;
}
.copyright-text-right li a {
    font-family: 'Inter-medium';
    font-size: 14.1429px;
    line-height: 21px;
    text-align: center;
    color: #344054;
}
/*===FOOTER CSS END===*/

/*==TABLE CSS START HERE==*/
.advance-shipment-notice td.text-right price {
    font-family: 'Lato-bold';
}
.order-listing .tab-content {
    padding: 0px;
}
.table-responsive {
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.table-responsive .table {
    margin-bottom: 0;
}
.list-items .table {
    border: 1px solid #E5EAEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    z-index: 9;
}
.list-items .table thead th {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
    border-bottom: 1px solid #E4E7EC;
    border-top: 0px;
    padding-left: 1.5rem;
    vertical-align: middle;
}
.scope-item h5 {
    font-family: 'Inter-medium';
    font-size: 14px;
    line-height: 20px;
    color: #026AA2;
    margin-bottom: 0px;
}
.scope-item p {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    margin-bottom: 0px;
}
.list-items td {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    color: #464E5F;
    vertical-align: middle;
    padding: 12px 24px;
    border-top: 1px solid #E4E7EC;
}
.contract-item {
    display: flex;
    align-items: center;
}
.contract-item img {
    margin-right: 4px;
}
.list-items span.open-text {
    min-width: 60px !important;
    display: inline-block;
}
.list-items .table thead th {
    padding: 12px 24px;
}
span.open-text.deleted {
    color: #363F72;
    background: #F8F9FC;
}
span.open-text.deleted::before {
  background:#4E5BA6;
}
span.open-text.closed {
    background: #FEF3F2;
    color: #B42318;
}
span.open-text.closed::before {
    background:#F04438;
}

main {
    position: relative;
}
/* main.main-content::before {
    position: absolute;
    content: '';
    background-image: url(../images/Plants\ 1.svg);
    width: 200px;
    height: 300px;
    bottom: 35px;
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
    opacity: .7;
}
main.main-content::after {
    position: absolute;
    content: '';
    background-image: url(../images/Plant\ Left.svg);
    width: 270px;
    height: 300px;
    bottom: 35px;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
    opacity: .7;
    right: 0;
} */
button.sidebar-popup {
    border: 0px;
    background: transparent;
}
/*==table-footer-start-here===*/
.table-footer td {
    border-top: 0px;
}
tfoot.table-footer {
    border-top: 1px solid #dee2e6;
}
.table-footer ul.pagination {
    justify-content: flex-end;
    align-items: center;
    grid-gap: 28px;
    margin-bottom: 0px;
}
.table-footer ul.pagination a.page-link {
    border: 0px;
}
tfoot.table-footer li a {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
}
/*table-footer-end*/
/*==TABLE CSS END==*/
/* =====PAGE TABS CSS START HERE =====*/
ul.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    border-bottom: 1px solid #E4E7EC;
    padding-left: 0;
}
ul.tabs li {
    list-style: none;
    margin-right: 16px;
    display: flex;
    /* align-items: center; */
}
ul.tabs a {
    padding: 0px 6px 16px;
    font-family: 'Lato-Medium';
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    text-decoration: none;
}
ul.tabs li a.nav-link.active{
    color: #0086C9;
}
ul.tabs li a.nav-link.active {
    border-bottom: 2px solid #026AA2;
}

/* =====PAGE TABS CSS END=====*/

/*===== TABLE PAGE HEADER CSS===== */
.list-header {
    padding: 25px 0px 0px;
}
.list-title {
    align-items: center;
    padding: 12px 0px 24px;
}
.list-title img {
    width: 100%;
    max-width: 44px;
    height: 44px;
    object-fit: cover;
}
.list-content {
    padding-left: 14px;
}
.list-content h2 {
    font-family: 'Lato-bold';
    font-size: 18px;
    line-height: 28px;
    color: #1B283F;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}
.list-content p {
    font-family: 'Lato';
    font-size: 13px;
    line-height: 18px;
    color: #80808F;
    margin-bottom: 0px;
}
.list-header form.form-inline, .list-header form.form-inline input {
    max-width: 296px;
    height: 38px !important;
}

.list-header .form-inline input {
    background-color: #fff;
    border: 0px;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
}
.list-header button.form-control-feedback {
    top: 0px;
    padding: 0px;
    line-height: 20px;
}

/*=====navy-blue-btn-STARTS=====*/
.btn {
    padding: 9px 15px;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    font-family: "Inter-Medium";
    font-size: 16px;
    line-height: 24px;
}
.navy-blue-btn {
    background: #026AA2;
    box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: 8px;
    border: 0px;
    font-family: 'Lato-bold';
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 16px;
    cursor: pointer;
}
.navy-blue-btn svg path {
    stroke: #fff;
}
.navy-blue-btn:hover {
    color: #fff;
}
/*=====navy-blue-btn END=====*/


/* Dot-Badge-css start*/
.open-text, .error-text, .user-text {
    background: #e3f6ee;
    border-radius: 16px;
    position: relative;
    min-width: 44px;
    height: 22px;
    display: block;
    font-family: 'Inter-Medium';
    font-size: 12px;
    text-align: center;
    color: #027A48;
    line-height: 22px;
}
.open-text .dot {
    width: 6px;
    height: 6px;
    background: #12B76A;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 2px;
}
.list-items .open-text.closed .dot {
    background-color: #B42318;
}
.list-items .open-text.deleted .dot {
    background-color: #4E5BA6;
}
.error-text .dot {
    background-color: #F79009;
}
span.error-text {
    display: flex;
    align-items: center;
    justify-content: center;
     background: #FFFAEB;
    color: #B54708;
}
.error-text img {
    padding-right: 5px;
}
span.open-text.published {
    width: auto;
    min-width: 94px;
}
/* Dot-Badge-css end*/
/*==== Detail Table CSS Start Here====*/
.detail-text ul li {
    display: flex;
    align-items: center;
}
.detail-text ul li {
    list-style: none;
    font-family: 'Lato';
    font-size: 13px;
    line-height: 18px;
    color: #80808F;
    padding-bottom: 7px;
}
.detail-text h6 {
    font-size: 12px;
    line-height: 16px;
    color: rgba(9, 30, 66, 0.74);
    font-family: 'Segoe UI semibold';
    background: #F5F7F9;
    border: 1px solid #E1E2E6;
    padding: 4px 3px;
    border-radius: 2px;
    margin-bottom: 3px;
    display: inline-block;
}
.detail-text p {
    font-family: 'Lato-bold';
    font-size: 15px;
    line-height: 28px;
    color: #464E5F;
}
.detail-table {
    width: 100%;
    padding-top: 40px;
}
.detail-table h6 {
    font-family: 'Lato-bold';
    font-size: 12px;
    line-height: 20px;
    color: #B5B5C3;
    margin-bottom: 24px;
    background: transparent;
    border: 0px;
}
.detail-table table {
    background: #FFFFFF;
    box-shadow: 0px 2px 0px 2px rgb(222 226 230 / 30%);
    border-radius: 8px;
    display: table;
    position: relative;
    z-index: 9;
}
.detail-table th {
    border-top: 0px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
    border-bottom: 0px !important;
    padding: 0.75rem 24px;
    font-weight: normal;
}
.detail-table td {
    vertical-align: middle;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    color: #464E5F;
    padding: 4px 24px;
}
.per-price-text {
    text-align: end;
}
span.badge {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 14px;
    color: rgba(9, 30, 66, 0.74);
    background: #f2f4f7;
    border: 1px solid #E1E2E6;
    border-radius: 2px;
}
p.description-text {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    color: #464E5F;
    margin-bottom: 0px;
    padding-top: 5px;
}
.per-price {
    font-family: 'Lato-bold';
    font-size: 12px;
    line-height: 20px;
    color: #667085;
    text-align: end;
    margin-bottom: 0px;
}
.per-price-text p:last-child {
    margin-bottom: 10px;
}
.subtotal-price {
    text-align: end;
    display: flex;
    align-items: center;
    grid-gap: 50px;
    justify-content: flex-end;
    padding-top: 16px;
    margin-bottom: 36px;
    max-width: 91%;
}
.subtotal-price p {
    margin-bottom: 0px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    color: #80808F;
}
.footer-content {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 20px;
    color: #80808F;
    margin-bottom: 15px;
}

.detail-table .scope-item p {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 20px;
    color: #026AA2;
}
span.item-number {
    padding: 2px 10px 2px 20px;
    height: 24px;
    background: #e6e9ee;
    border-radius: 16px;
    font-family: 'Lato-bold';
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #344054;
    position: relative;
    margin-right: 10px;
}
span.item-number::before {
    background-color: #667085;
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 9px;
    left: 7px;
}
.left-detail-content {
    display: flex;
    align-items: center;
}
p.grey-text {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    color: #80808F;
    margin-bottom: 7px;
}
.subtotal-price price {
    font-family: 'Lato-bold';
    font-size: 18px;
    line-height: 20px;
    color: #464E5F;
}
/*==== Detail Table CSS  End ====*/
/* ======left-tabs-Start-CSS====== */
.detail-tabs-inner {
    width: 100%;
    max-width: 1665px;
    margin: auto;
    padding: 0px 15px;
}
.detail-tabs {
    height: calc(100vh - 100px);
    max-width: 12%;
    flex: 0 0 12%;
}
.detail-tabs .nav-tabs {
    display: block;
    border-bottom: 0px;
    padding-right: 55px;
}
.list-title {
    align-items: center;
    padding: 12px 0px 24px;
}
.detail-tabs .nav-tabs li.nav-item {
    margin-bottom: 6px;
}
.detail-tabs .list-title img {
    max-width: 14px;
    height: 14px;
    width: 100%;
    object-fit: cover;
}
.detail-tabs a.nav-link.active {
    color: #344054;
    border: 0px;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
    border-radius: 6px;
}
.detail-tabs a.nav-link {
    font-family: 'Inter-Medium';
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    padding: 8px 12px !important;
    border: 0px;
}
.po-details .tab-content {
    max-width: 88%;
    flex: 0 0 88%;
}
.detail-tabs a.nav-link:hover {
    border: 0px;
}

/* ======left-tabs-End-CSS====== */
/*==========PDF-css============*/
.po-text-icon {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
    border-radius: 6px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    max-width: 385px;
  }
  .text-icon h4 {
    font-family: 'Lato-bold';
    font-size: 14px;
    line-height: 20px;
    color: #464E5F;
    margin-bottom: 0px;
  }
  .doc-size-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  .text-icon span {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 20px;
    color: #80808F;
  }
  .doc-icons {
    position: absolute;
    right: 0px;
    top: -15px;
  }
  .text-icon {
    padding-left: 10px;
    width: 100%;
  }
  .add-btn p {
    font-family: 'Lato-Medium';
    font-size: 12px;
    line-height: 20px;
    color: #464E5F;
    margin-bottom: 0px;
    padding: 8px 0px;
}
.mobile-btn {
    display: none;
}
button:focus, button:focus-visible, input:focus-visible  {
    outline: none;
}
b {
    font-family: 'Lato-bold';
    font-size: 18px;
    line-height: 20px;
    color: #464E5F;
}
select:focus-visible {
    outline: none;
}

/*=======================
     css 28-07-2022
=========================*/

.navigation-list.mobile-nav {
    display: none;
}
body.show-mobile-menu .navigation-drawer {
    transform: translateX(0%);
}
li.user-img.header-profile-img .dropdown.show button.btn:before {
    content: ' ';
    position: absolute;
    right: 16px;
    bottom: -16px;
    border-left: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
    z-index: 2;
}
li.user-img.header-profile-img button.btn {
    padding: 0;
    border: none;
}
li.user-img.header-profile-img .dropdown-menu {
    left: inherit;
    right: 0;
    border: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    top: 45px;
}
.dropdown-menu a {
    background: #fff;
}
li.user-img.header-profile-img .dropdown-menu a {
    padding: 5px 15px;
}
li.user-img.header-profile-img .dropdown button.btn:after {
    display: none;
}
li.user-img.header-profile-img .dropdown-menu a:active {
    background: #235f7e;
}
ul.navbar-nav li a i {
    margin: 0 0 0 4px;
    vertical-align: middle;
}
label.error{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: red;
}
.open-section{
    cursor:pointer
}