<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Iot Tracking</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
 
  <style>
    .at-hidden {
      display: none;
    }
    .at-sub-head, .at-center {
      text-align: center;
    }
    .form-group {
      margin-top: 10px
    }
    .at-reset-wrapper {
      width: 16rem;
      margin: auto;
      padding-top: 4rem;
      padding-left: 2%;
      padding-right: 2%;
      {{!-- margin-top: 10% --}}
    }
    .at-btn {
      background: cornsilk;
      padding: 5px;
      margin: 10px;
      border-radius: 5px;
    }
    .at-label {
      font-size: 0.75em; 
      float:left; 
      text-align: left;
      padding:0.25rem;
    }
    .meter {
      width: 0px;
      height:2px;
    }
    .pass-type, .msg-password{
      font-size: 0.75em;
      font-family:'Titillium Web', sans-serif; 
      font-weight: normal;
    }

    /* ---------------------------------
    1. PRIMARY STYLES
    --------------------------------- */
    img{ width: 100%; }
    /* ---------------------------------
    2. COMMONS FOR PAGE DESIGN
    --------------------------------- */
    .center-text{ text-align: center; } 
    .display-table{ display: table; height: 100%; width: 100%; }
    .display-table-cell{ display: table-cell; vertical-align: middle; }
    .full-height{ height: 100%; }
    .position-static{ position: static; }
    .font-white{ color: black; font-family:'Titillium Web', sans-serif; }
    .font-red{ color: #ef6f65; font-family:'Titillium Web', sans-serif; }
    .font-universal { color: #000000; font-family:'Titillium Web', sans-serif; font-weight: normal; }
    .font-semibold { font-weight: 600; }
    .font-bold { font-weight: bold; }
    .btn-submit {
      color: #000000;
      background-color: #1a82e2;
      outline: 0;
      cursor: pointer;
      border: 0;
      padding: .46875rem 1rem;
      border-radius: .150rem;
      width: 15.5rem;
      border-radius: 4px;
    }

    /* ---------------------------------
    3. MAIN SECTION
    --------------------------------- */
    .main-area{ position: relative; height: 100vh; z-index: 1; padding: 0 20px; background-size: cover; color:black; }
    .main-area:after{ content:''; position: absolute; top: 0; bottom: 0;left: 0; right: 0; z-index: -1;  
      opacity: .4; background:grey; }
    .main-area .desc{ margin: 20px auto; max-width: 500px; }

    .main-error-area{ position: relative; height: 100vh; z-index: 1; padding: 0 20px; background-size: cover; }
    .main-error-area:after{ content:''; position: absolute; top: 0; bottom: 0;left: 0; right: 0; z-index: -1;  
      opacity: .4; background: rgba(146, 53, 59, 0.801); }
    .main-error-area .desc{ margin: 20px auto; max-width: 500px; }

    hr {
      border: 0;
      border-top: 1px solid rgba(0,0,0,.1);
    }
  </style>
</head>
<body class="body">
  <div class="container">
    {{{body}}}

  </div>
  {{!-- {{> footer}} --}}
</body>
</html>
