<body>
	<main>
		<div class="main-area center-text">
			<div class="display-table">
				<div class="display-table-cell">
					
					<h1 class="title font-white"><b>{{title}}</b></h1>
					<h3 class="desc font-white">{{message}}</h3>
					
					
				</div><!-- display-table -->
			</div><!-- display-table-cell -->
		</div><!-- main-area -->
	</main>
</body>
</html>