<center style="width: 100%; background-color: #fff;">
    <div class="email-container" style="max-width: 600px; margin: 0 auto; background-color: #ffffff;">
        <table style="margin: auto;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="bg_white" style="padding: 1.2em 2.5em 1em 2.5em; background-color: #ff8400;" valign="top">
                        <table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="logo" style="text-align: center; color: #fff;">&nbsp;IoT</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr style="border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2;">
                    <td class="intro bg_white" style="padding: 2em 0;" valign="middle">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="text" style="">
                                            <h2 style="text-align: left; color: #000000; font-size: 18px; margin-top: 0; line-height: 1.4; font-weight: bold;">Hello {{$name}},</h2>
                                            <p style="text-align: left; margin-top: 15px;">
                                                Welcome to IoT
                                            </p>
                                            <p style="text-align: left; margin-top: 15px;">Thank you for signing up, we are excited to have you on board. Please activate your account by clicking on the following link and get verified. </p>
                                            <p ><a style="margin-top: 15px;background-color: #ff8400; padding: 5px 20px; color: #fff;display:inline-block;text-decoration:none" href="{{$token}}">Click Here</a></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="text-align: left; color: #000000; ">
                                        <b>Or Copy the below link on your browser tab :</b><br>{{$token}}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="text-align: left; color: #000000; ">
                                        Once that is completed from your end, your account will be activated.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="margin: 10px 0 0; text-align: left; color: #000000;">Thanks</p>
                                        <p style="margin: 0px; text-align: left; color: #000000; font-weight: bold;">IoT</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
        <table style="margin: auto; background: #fafafa;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td style="padding: 2px 200px 10px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="text-align: center; margin: 0;">
                                        <p style="margin: 0; font-size: 12px;">&copy; 2022 <a style="color: #141637;">IoT</a>. All Rights Reserved</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</center>

